* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 100vh;
}

.projects {
  width: 25%;
  border-right: 3px dashed #e0e0e0;
  padding: 10px;
}

.tasks {
  width: 50%;
  border-right: 3px dashed #e0e0e0;
  padding: 0 20px;
}

.notes {
  width: 25%;
}

.new-project {
  margin: 20px auto;
  width: 130px;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #9cc5f7;
}

.all-projects {
  border-bottom: 2px dashed red;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.project {
  margin-top: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff #fff #e0e0e0 #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  transition: 0.1s;
}

.project:hover {
  border: 2px solid #e0e0e0;
}

.project * {
  margin: 0 5px;
  padding: 4px 6px;
}

.project-name {
  width: 55%;
}

.due-date {
  width: 35%;
}

.project i {
  border-radius: 15px;
}

.project i:hover {
  background-color: #e0e0e0;
}

.selected {
  border: 2px solid red;
}

.notes {
  padding: 10px;
  overflow-y: scroll;
}

.notes-header {
  display: block;
  width: fit-content;
  margin: 10px auto;
}

.new-note {
  border-radius: 5px;
  width: 80px;
  text-align: center;
  padding: 5px;
  border: 2px solid red;
  cursor: pointer;
  font-size: 15px;
}

.new-note:hover {
  background-color: #e64444;
  color: #f3f3f3;
}

#new-note-form {
  margin: 10px;
}

#note-text-input {
  display: block;
  margin: 10px 0;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

#create-note {
  padding: 6px 8px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #9cc5f7;
  display: inline;
  cursor: pointer;
}

#create-note:hover {
  background-color: #9cc5f7;
  color: white;
}

.note {
  border: 1px solid white;
  border-bottom: 2px solid #e0e0e0;
  border-radius: 6px;
  padding: 5px;
  margin: 10px;
}

.note-text {
  margin: 5px;
  font-size: 18px;
}

.note-control {
  text-align: right;
  display: none;
}

.note:hover .note-control {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.delete-note {
  border-radius: 15px;
  padding: 4px 6px;
  cursor: pointer;
}

.delete-note:hover {
  background-color: #e0e0e0;
}

.project-title-div {
  height: 100px;
  margin: 15px;
  padding-left: 10px;
  border-bottom: 2px solid red;
}

.project-title {
  line-height: 130px;
  font-size: 24px;
}

.task-list {
  padding: 25px;
}

.task {
  display: flex;
  border-width: 2px;
  border-style: solid;
  border-color: #fff #fff #e0e0e0 #fff;
  width: 100%;
  padding: 15px;
  justify-content: space-between;
  font-size: 18px;
  border-radius: 7px;
  transition: 0.1s;
  align-items: center;
  margin: 10px 0;
}

.task:hover {
  border: 2px solid #e0e0e0;
}

.task * {
  margin: 0 5px;
  padding: 4px 6px;
  border-radius: 50%;
}

.task i:hover {
  background-color: #e0e0e0;
}

.task-name {
  width: 75%;
}

.form {
  width: 80%;
  margin: 0 auto;
}

label {
  display: block;
  margin: 10px 0;
}

.form label * {
  display: block;
  width: 100%;
}